<!-- templates/index.html -->  
<html>
   <head>
       <title>QR Code Video Conference Call Background</title>
   </head>
   <body>
       <div style="margin-left:50px;">

          <h2>QR Code Video Conference Call Background</h2>
          <hr>
          <p>Uh oh, something went wrong.
          <p>
          <form action="/">
             <input type="submit" value="Try Again" />
          </form>
          <hr>
          <p>
          <br>Service written by Darren Popham, &copy;2020
          <br>Make sure to visit my site at <a href="https://darrenpopham.com">darrenpopham.com</a>
      </div>
   </body>
</html>
